<?xml version="1.0"?>
<document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" source="RiskAssessorButton.fxg" filechangeaction="AutoUpdate">
  <assets />
  <definitions>
    <definition name="master76b60546_btnRiskAssessor" checked="true" />
  </definitions>
</document>